<!doctype html>
 <html>
  <head>
    <meta charset="utf-8">
    <title>Angel Altamirano Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
  </head>
  <body ng-app='portfolioApp' ng-init='landingSelected=true; portfolioSelected=false; contactSelected=false; resumeSelected=false'>
    <div id='header'>
      <h1>//AA</h1>
      <ul id='header-menu'>
          <li ng-click='landingSelected=true; portfolioSelected=false; contactSelected=false; resumeSelected=false'>Home</li>
          <li ng-click='portfolioSelected=true; landingSelected=false; contactSelected=false; resumeSelected=false'>Portfolio</li>
          <li ng-click='contactSelected=true; landingSelected=false; portfolioSelected=false; resumeSelected=false'>Contact</li>
          <li ng-click='resumeSelected=true; landingSelected=false; portfolioSelected=false; contactSelected=false;'>Resume</li>
      </ul>
    </div><!--end header-->
    <div id="landing" ng-show='landingSelected'>
      <div id="landing-title">
        <h2>Angel<br>Altamirano</h2>
        <h3>Developer</h3>
      </div><!--end landing-title, red box-->
      <div id="landing-skills">
          <img src='img/js.png' alt='javascript'>
          <img src='img/jquery.png' alt='jquery' id='jquery'>
          <img src='img/angularjs.png' alt='angularjs'>
          <img src='img/git.png' alt='git'>
      </div><!--end landing-skills-->
    </div><!--end landing-->
    <div id="portfolio" ng-show='portfolioSelected'>
      <h2>Portfolio</h2>
      <div id="portfolio-main">
        <div class="projectBox">
          <img caption="Guest List Page" class="img-border" src="https://i.imgbox.com/YrNS6xH6.png">
          <h4>Guest List</h4>
          <p>Keep track of event invitees and attendees. Uses vanilla JavaScript to display, hide, and edit guests based on user input.</p>
          <span>
            <a href="https://aaltamirano1.github.io/Guest-List/" target="_blank" class="linkButton">LINK</a>
            <a href="https://github.com/aaltamirano1/Guest-List" target="_blank" class="linkButton">CODE</a>
          </span>
        </div><!--end projectBox-->
        <div class="projectBox">
          <img caption="Flickr API Page" class="img-border" src="https://i.imgbox.com/fhWoloXm.png">
          <h4>Flickr API</h4>
          <p>Cat, Dog, or Mouse? The choice is yours! Uses Flickr's API to display the top 25 images of an animal selected by users. HTML elements built with jQuery.</p>
          <span>
            <a href="https://aaltamirano1.github.io/Flickr-API/" target="_blank" class="linkButton">LINK</a>
            <a href="https://github.com/aaltamirano1/Flickr-API" target="_blank" class="linkButton">CODE</a>   
          </span>
        </div><!--end projectBox-->
        <div class="projectBox">
          <img caption="Responsive Layout Page" class="img-border" src="img/Responsive%20Webpg.PNG">
          <h4>Responsive Layout</h4>
          <p>Layout of the webpage changes as screen or window changes in size. Uses media queries.</p>
          <span>
            <a href="https://aaltamirano1.github.io/Responsive-Web-Layout-Page/" target="_blank" class="linkButton">LINK</a>
            <a href="https://github.com/aaltamirano1/Responsive-Web-Layout-Page" target="_blank" class="linkButton">CODE</a>
          </span>
        </div><!--end projectBox-->
        <div class="projectBox">
          <img caption="Magic 8Ball Page" class="img-border" src="https://i.imgbox.com/pOJDJcfm.png">
          <h4>Magic 8Ball</h4>
          <p>Think of a question and the 8 Ball will give you an answer. Answers randomly selected from an array.</p>
          <span>
            <a href="https://aaltamirano1.github.io/Magic-8Ball/" target="_blank" class="linkButton">LINK</a>
            <a href="https://github.com/aaltamirano1/Magic-8Ball" target="_blank" class="linkButton">CODE</a>
          </span>
        </div><!--end projectBox-->
      </div><!--end portfoliioMain-->
    </div><!--end portfoliio-->
    <div id="contact" ng-show='contactSelected'>
      <h2>Contact</h2>
      <h3>Helpful advice and resources always appreciated. If you're new to coding, feel free to email me any questions!</h3>
        <div>
          <img src='https://cdn1.iconfinder.com/data/icons/black-socicons/512/linkedin-32.png'>
          <p id='linkedIn'>
            <a href="https://www.linkedin.com/in/angel-altamirano/" target="_blank">linked in
            </a>
          </p>
        </div>
        <div>
        <img src='https://cdn1.iconfinder.com/data/icons/free-98-icons/32/email-32.png'>
          <p>
            <a href="mailto: angel.g.altam@gmail.com">angel.g.altam@gmail.com</a>
          </p>
        </div>
    </div><!--end contact-->
    <div id="resume" ng-show='resumeSelected'>
      <div id="resume-title">
        <div>
        <h2>Angel Altamirano</h2>
            <address>
                <a href="tel:470-258-3929" class="contactInfo">(470)258-3929</a>
                <a href="mailto:angel.g.altam@gmail.com" class="contactInfo">angel.g.altam@gmail.com</a>
            </address>
            <p><a href="aaltamirano1.github.io/Portfolio/" class="contactInfo" target="_blank">aaltamirano1.github.io/Portfolio/</a></p>
        </div>
        <a id="download" href="Resume.pdf" download>DOWNLOAD</a>
      </div><!--end resume-title-->
      <div id="resume-main">
          <h3>EDUCATION</h3>
          <p>Bachelor of Business Administration: Accounting, May 2015<br>Minor in Economics<br>Georgia State University, J. Mack Robinson College of Business- Atlanta, GA</p>
          <h4>Online Classes</h4>
          <p><a href="https://www.udacity.com/" target="_blank">Udacity:</a><br>Front-End Web Developer Nanodegree, Sept 2017<br><br><a href="https://teamtreehouse.com/angelaltamirano">Treehouse:</a><br>CSS Flexbox Layout, Mar 2017<br>Angular JS Basics (1.x), June 2017<br>Reporting with SQL, June 2017<br>Modifying Data SQL, June 2017</p>
          <h3>SKILLS</h3>
          <p>HTML,  CSS,  Javascript,  jQuery,  Angular JS,  SQL,  Microsoft Office,  Version Control (Git), Responsive Web Design</p>
          <h3>WORK EXPERIENCE</h3>
          <p><span>Player Services Representative</span><br><em>Scientific Games International (2016- Present)</em><br>Assist players with website navigation and ticket entry on Lottery Rewards websites.<br>Resolve discrepancies in directory of player accounts and keep personal information confidential.<br><br><span>Co-Manager</span><br><em>Angel's Catering (2005- Present)</em><br>Weigh in on decisions (jobs to keep/drop, how to handle competition).<br>Count and report end of day earnings.<br>Negotiate terms with superintendents for sale at their construction sites.</p>
      </div><!--end resume-main-->
    </div><!--end resume-->
    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>